[diff]
	tool = vimdiff3
[difftool "vimdiff3"]
	path = nvim
[merge]
	tool = vimdiff3
[mergetool "vimdiff3"]
	path = nvim
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
  parent = "!git show-branch | grep '*' | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//' #"
  a = add
  b = branch
  c = commit
  d = diff
  f = fetch
  g = grep
  l = log
  m = merge
  o = checkout
  p = pull
  P = push
  r = remote
  s = status
  w = whatchanged
  aa = add --all
[push]
	default = current


